* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body {
    background: #293d65;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 700px;
}

#input-data {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#input-data input {
    padding: 10px 14px;
    width: 240px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 1rem;
}

#input-data button {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #0e243e;
    color: white;
    font-size: 1rem;
}

#input-data button:hover {
    background: #005fcc;
}

#loading {
    margin-top: 15px;
    display: none;
    text-align: center;
    font-style: italic;
    color: #f7f3f3;
    font-size: 1.5rem;
}

.weather-box {
    width: 100%;
    max-width: 450px;
    margin: 25px auto;
    padding: 25px;
    border-radius: 12px;
    background-color: #151a33; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: #e6e9f0; 
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}

.weather-box .cityName {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #ffffff;
}

.weather-box .icon {
    text-align: center;
}
.weather-box .icon img {
    width: 90px;
    height: 90px;
}

.weather-box .condition {
    text-align: center;
    font-size: 1.3rem;
    color: #e6e7ec;
    font-weight: bold;
}

.weather-box .description p {
    text-align: center;
    font-style: italic;
     color: #d0d4ec;
    font-size: 1rem;
}

.weather-box .temp-humid {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: 500;
    color: #d0d4ec;
}

#forecast-button-container {
    text-align:center; 
    margin-top:10px; 
    display:none
}

#forecast-button-container button {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #0e243e;
    color: white;
    font-size: 1rem;
}

#forecast-button-container button:hover {
    background: #005fcc;
}

.table-container {
    width: 100%;
    margin-top: 30px;
}

.table-container h2 {
    padding: 30px;
    text-align: center;
    color: #ffffff;
}

.week-table {
    width: 100%;
    font-size: 15px;
    border-collapse: collapse;
    background: #151a33;  /* Dark card */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    color: #e6e9f0;
}

.week-table th {
    background: #424768;  
    color: white;
    padding: 15px;
    border: 1px solid #2d355b;
}

.week-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #2d355b;
}

.week-table tr:nth-child(even) {
    background: #101631;  
}

.week-table tr:hover {
    background: #212a4d;
}

